#!/bin/bash
#CORS
#NOTE: MANDATORY (For Cross Origin Resource Sharing)
export CORS_ORIGIN='*'
export CORS_METHODS=GET,POST

#GENERAL
#NOTE: MANDATORY (For Running the App)
export PORT='8080'
export NODE_ENV='local'


#DB CONNECTIONS
#NOTE: MANDATORY (For Databases Connection)
export MONGO_DB_CONNECTION=N
export PG_CONNECTION=N
export REDIS_CONNECTION=N

#RATE_LIMIT
#NOTE: MANDATORY (For Rate Limiting)
export RATE_LIMIT_TIME=900000
export RATE_LIMIT_MAX_REQUESTS=500 

#JOURNEY DISABLE
#NOTE: NON-MANDATORY (For Downtime of App)
export BLOCK_START_DATE_TIME='2021-03-23T13:00:00.000+05:30'
export BLOCK_END_DATE_TIME='2021-03-25T15:14:00.000+05:30'

# ENCRYPTION CONFIG
#NOTE: MANDATORY (For Encnryption and Decryption)
export SALT_ROUNDS=10
export ALGORITHM='aes-256-ctr'
export ENABLE_ENCRYPTION='N'
export ENCRYPTION_PUBLIC_KEY='-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCiq8W//UzqZwNVdIknkGgzwmm0\n6oq9cDz/4EmR7x9btk5xOHLoeLZ4hOq3t5sCiLzUohQ8xxtAN5Bec5Nm7sr/EN08\npUUQCQ1s5u0o5YqDohgxpSkIzPfzeVBFJWF0ghjKbA4ODSy9DOQIFeiCR9GCmXMa\nDqETs+v1MKoUDJs88wIDAQAB\n-----END PUBLIC KEY-----'
export ENCRYPTION_PRIVATE_KEY='-----BEGIN RSA PRIVATE KEY-----\nMIICWwIBAAKBgQCiq8W//UzqZwNVdIknkGgzwmm06oq9cDz/4EmR7x9btk5xOHLo\neLZ4hOq3t5sCiLzUohQ8xxtAN5Bec5Nm7sr/EN08pUUQCQ1s5u0o5YqDohgxpSkI\nzPfzeVBFJWF0ghjKbA4ODSy9DOQIFeiCR9GCmXMaDqETs+v1MKoUDJs88wIDAQAB\nAoGACYLxtSAidzI+x6hgvKd88EnV1HZCVoFRj8SViKrqsnoebBBY567nPHTJJKTf\ns247XFN9y2/47/BPyLYJUGN2CwwAHM1VOvbFyjeGiQXC2RyPg1kR7a9oo1cjhRrt\nxiRvNUyLPn2LyLor3QIIDUaRstvYKkEeW7cvK0tG6R+sg4ECQQDgjy2iVKeLk6cL\ndzbdZuW2KxbxxZqiV8fmd17/ElV1ZGR0w7+VOwJjHBB3WGuMkRbOBHjzhN6GQr6d\nyglq0Qr7AkEAuXJY75AwGxZMt5pATvZDo7vw+ZU3kEhWWCJegPkA+RtuRDbdHO+0\n677vvkqoMW7SkpQq6Ev8KB+x3hW6Bmx0aQJACtWdpAlllAxpsNntob0HNETb9IpO\nLasCkBIOWUwvJ1zSo/eV1MNmGBYQjVGMztlpOkNo+obcnam2vLI0xhyT5QJACqus\nuGQokHZxBaOHjcOX0sUOsZ3Ha7Lt3PZlT7CEQNE2QBCUGoUkeOgsrVtoYCfLUAnc\nii9NHBXuyyOe5523+QJASPbcV3VSTdDD7y9gaOUKizx0LNqDAtfUnWW1riJ5JRuM\n2coeiGgoRz0DQzcjkY4T/nkrRmEhabv6/4/lLV+Ndg==\n-----END RSA PRIVATE KEY-----'

#AWS
#NOTE: NON-MANDATORY (For AWS)
export AWS_ACCESS_KEY=''
export AWS_SECRET_KEY=''
export AWS_BUCKET=''

#MONGO DB
#NOTE: NON-MANDATORY (For MongoDB Connection)
export MONGO_DBNAME=''
export MONGO_USERNAME=''
export MONGO_PASSWORD=''
export MONGO_HOST_PRIMARY=''
export MONGO_HOST_SECONDARY=''
export MONGO_PORT=''
export MONGO_REPLICA_SET=''
export MONGO_AUTH_SOURCE=''
export MONGO_SSL_CA_PATH=''
export MONGO_SSL_CERT_PATH=''
export MONGO_SSL_CERT_KEY=''

#REDIS
#NOTE: NON-MANDATORY (For Redis Connection)
export REDIS_EXPIRY=''
export REDIS_HOST=''
export REDIS_PORT=''
export REDIS_PREFIX=''

#PG
#NOTE: NON-MANDATORY (For PG Connection)
export PG_HOST=''
export PG_PORT=''
export PG_PASSWORD=''
export PG_USERNAME=''
export PG_DATABASE_NAME=''

# FOR RUNNING THE APP IN DEV, UAT, PROD SERVER
# npm run build
# npm start

# FOR RUNNING THE APP LOCALLY
npm run dev